<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bootstrap/css/style.css"/>
    <title>
        Platforma de vaccinare impotriva COVID-19
    </title>
</head>
<body>

<div class="logout">
    <button class="btn btn-outline-info" type="button" onClick="logout()"> Log out</button>
</div>

<div class="headerCentre">
    <br><br><br><br>
    <h3>Centre de vaccinare</h3>
</div>

<table class="table text-center" style="background-color: azure; opacity:0.8; margin-left:70px; width:1400px; margin-top:80px;">
    <thead>
    <tr>
        <th scope="col">Localitate</th>
        <th scope="col">Vaccin</th>
        <th scope="col">Locuri disponibile</th>
        <th scope="col">Programare</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="center : ${centres}">
        <td th:text="${center.city}"></td>
        <td th:text="${center.vaccine}"></td>
        <td th:text="${center.available}"></td>
        <td>
            <form method="post" action="/platforma/centres/date">
                <button class="btn btn-sm btn-outline-info" onClick="location.href='date.html'">Programeaza-te!</button>
            </form>
        </td>
    </tr>


    </tbody>
</table>

</body>
</html>
<script src="/bootstrap/js/script.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>