<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bootstrap/css/style.css"/>
    <title>
        Platforma de vaccinare impotriva COVID-19
    </title>
</head>
<body>

<div class="logout">
    <button class="btn btn-outline-info" type="button" onClick="logout()"> Log out</button>
</div>

<div class="headerCentre">
    <br><br><br><br>
    <h3>Alegeti data si ora programarii</h3>
</div>

<table class="table text-center" style="background-color:azure; opacity:0.8; margin-left:70px; width:1400px; margin-top:80px;">
    <thead>
    <tr>
        <th scope="col">Data disponibila</th>
        <th scope="col">Ora disponibila</th>
        <th scope="col">Programare</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>23.01.2022</td>
        <td>12:00</td>
        <td>
            <form method="post" action="/platforma/centres/date/program">
                <button class="btn btn-sm btn-outline-info" onClick="location.href='date.html'">Programeaza-te!</button>
            </form>
        </td>
    </tr>

    </tbody>
</table>

</body>
</html>
<script src="/script.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>