<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="static/style.css"/>
    <title>
        Platforma de vaccinare impotriva COVID-19
    </title>
</head>
<body>
<div class="logo">
    <img id="logo" src="static/img/logo.png" alt="logo"/>
</div>

<div class="logout">
    <button class="btn btn-outline-info" type="button" onClick="logout()"> Log out</button>
</div>

<div class="headerVaccination">
    <h3>Platforma de vaccinare impotriva COVID-19</h3>
</div>
<div class="modal-dialog" role="document" >
    <div class="modal-content"id="programareModal" >
        <div class="modal-header">
            <h5>Selectati locatia dorita a centrului de vaccinare</h5>
        </div>
        <div class="modal-body" style="min-height:294px;">
            <form id="vaccinForm">
                <div class="form-group formVaccin">
                    <label for="judet">Judetul</label>
                    <select class="selectpicker" data-live-search="true" id="judet">
                        <option value="Alba">Alba</option>
                        <option value="Arad">Arad</option>
                        <option value="Argeș">Argeș</option>
                        <option value="Bacău">Bacău</option>
                        <option value="Bihor">Bihor</option>
                        <option value="Bistrița-Năsăud">Bistrița-Năsăud</option>
                        <option value="Botoșani">Botoșani</option>
                        <option value="Brașov">Brașov</option>
                        <option value="Brăila">Brăila</option>
                        <option value="Mun. București">Mun. București</option>
                        <option value="Buzău">Buzău</option>
                        <option value="Caraș-Severin">Caraș-Severin</option>
                        <option value="Călărași">Călărași</option>
                        <option value="Cluj">Cluj</option>
                        <option value="Constanța">Constanța</option>
                        <option value="Covasna">Covasna</option>
                        <option value="Dâmbovița">Dâmbovița</option>
                        <option value="Dolj">Dolj</option>
                        <option value="Galați">Galați</option>
                        <option value="Giurgiu">Giurgiu</option>
                        <option value="Gorj">Gorj</option>
                        <option value="Harghita">Harghita</option>
                        <option value="Hunedoara">Hunedoara</option>
                        <option value="Ialomița">Ialomița</option>
                        <option value="Iași">Iași</option>
                        <option value="Ilfov">Ilfov</option>
                        <option value="Maramureș">Maramureș</option>
                        <option value="Mehedinți">Mehedinți</option>
                        <option value="Mureș">Mureș</option>
                        <option value="Neamț">Neamț</option>
                        <option value="Olt">Olt</option>
                        <option value="Prahova">Prahova</option>
                        <option value="Satu Mare">Satu Mare</option>
                        <option value="Sălaj">Sălaj</option>
                        <option value="Sibiu">Sibiu</option>
                        <option value="Suceava">Suceava</option>
                        <option value="Teleorman">Teleorman</option>
                        <option value="Timiș">Timiș</option>
                        <option value="Tulcea">Tulcea</option>
                        <option value="Vaslui">Vaslui</option>
                        <option value="Vâlcea">Vâlcea</option>
                        <option value="Vrancea">Vrancea</option>
                    </select>
                </div>
                <div class="form-group formVaccin">
                    <div class="multiselect">
                        <div class="selectBox" onclick="showCheckboxes()">
                            <select>
                                <option>Selectati tipul vaccinului</option>
                            </select>
                        </div>
                        <div id="checkboxes">
                            <label for="astraZeneca">
                                <input type="checkbox" id="astraZeneca" value="astraZeneca" checked/>Astra Zeneca</label>
                            <label for="pfizer">
                                <input type="checkbox" id="pfizer" value="pfizer" checked/>Pfizer</label>
                            <label for="moderna">
                                <input type="checkbox" id="moderna" value="moderna" checked/>Moderna</label>
                            <label for="johnson">
                                <input type="checkbox" id="johnson" value="johnson" checked/>Johnson & Johnson</label>
                        </div>
                    </div>
                </div>
                <a id="submitVaccin" class="btn btn-info btn-sm" href="centre.html">Cauta</a>
            </form>
        </div>
    </div>
</div>

</body>
</html>
<script src="static/script.js"></script>
<script src="static/bootstrap/js/bootstrap.min.js"></script>