<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bootstrap/css/style.css"/>
    <title>
        Platforma de vaccinare impotriva COVID-19
    </title>
</head>
<body>

<div class="logout">
    <button class="btn btn-outline-info" type="button" onClick="logout()"> Log out</button>
</div>

<div>
    <br><br><br><br>
    <center>
        <h3>Platforma de vaccinare impotriva COVID-19</h3>
    </center>
</div>
<div class="modal-dialog" role="document" >
    <div class="modal-content" id="programareModal" >
        <div class="modal-header">
            <h5>Selectati locatia dorita a centrului de vaccinare</h5>
        </div>
        <div class="modal-body" style="min-height:294px;">
            <form id="vaccinForm">
                <div class="form-group formVaccin">
                    <div class="multiselect">
                        <div class="selectBox" onclick="showCheckboxes()">
                            <select class="selectpicker" data-live-search="true" th:field="*{vaccines}">
                                <option th:each="vaccine : ${vaccines}"
                                        th:value="${vaccine.vaccineType}" th:text="${vaccine.vaccineType}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <a id="submitVaccin" class="btn btn-info btn-sm" href="centre.html">Cauta</a>
            </form>
        </div>
    </div>
</div>

</body>
</html>
<script src="/script.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>